@import "../variables.scss";

.footer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  /* Full height but account for footer */
  box-sizing: border-box;
  width: 100vw;
  background-color: $secondary-color;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white;
  font-size: 1rem;
  text-align: center;

  /* Position the footer at the bottom of the page */
  position: absolute;
  bottom: 0;
}
